# Embedded Software Engineer Quiz

## Q2: Analyzing Spreadsheet Data

In [4]:
import pandas as pd

# Load the spreadsheet
file_path = 'Embedded Software Engineer Quiz Resource.xlsx'
df = pd.read_excel(file_path, header=None)
df.columns = ['A', 'B']

# Display the first few rows to understand the data
df.head()

       A    B
0  15840  cGp
1  16465  cmW
2  17941  cX3
3  17942  cXB
4  18898  ctR

### Analyzing the Relationship

In [5]:
# Define a function to analyze the relationship
def analyze_relationship(df):
    analysis = []
    for index, row in df.iterrows():
        input_value = row['A']
        output_value = row['B']
        ascii_values = [ord(char) for char in output_value]
        analysis.append({
            'Input': input_value,
            'Output': output_value,
            'ASCII Values': ascii_values
        })
    return pd.DataFrame(analysis)

# Call the analysis function
relationship_df = analyze_relationship(df)
relationship_df.head()

   Input Output   ASCII Values
0  15840    cGp  [99, 71, 112]
1  16465    cmW  [99, 109, 87]
2  17941    cX3   [99, 88, 51]
3  17942    cXB   [99, 88, 66]
4  18898    ctR  [99, 116, 82]

### Refine the Pattern Analysis

In [6]:
# Refine the pattern analysis
def refine_pattern(df):
    patterns = []
    for index, row in df.iterrows():
        input_value = row['A']
        output_value = row['B']
        
        # Extract ASCII values
        ascii_values = [ord(char) for char in output_value]
        
        # Check possible pattern for second character
        second_char_pattern = (input_value // 1000) % 26 + 97
        third_char_pattern = (input_value % 1000) // 36 + 48  # Assuming a similar modular pattern for third char
        
        patterns.append({
            'Input': input_value,
            'Output': output_value,
            'Second Char': output_value[1],
            'Third Char': output_value[2],
            'Second Char Calc': chr(second_char_pattern),
            'Third Char Calc': chr(third_char_pattern)
        })
    
    return pd.DataFrame(patterns)

# Analyze the refined pattern
refined_pattern_df = refine_pattern(df)
refined_pattern_df.head()

   Input Output Second Char Third Char Second Char Calc Third Char Calc
0  15840    cGp           G          p                p               G
1  16465    cmW           m          W                q               <
2  17941    cX3           X          3                r               J
3  17942    cXB           X          B                r               J
4  18898    ctR           t          R                s               H

### Detailed Pattern Analysis

In [7]:
# Detailed pattern analysis
def detailed_pattern_analysis(df):
    patterns = []
    for index, row in df.iterrows():
        input_value = row['A']
        output_value = row['B']
        
        # Extract ASCII values
        ascii_values = [ord(char) for char in output_value]
        
        # Hypothetical detailed transformations
        second_char_pattern = ((input_value // 100) % 26) + 97  # Adjusted hypothesis
        third_char_pattern = (input_value % 97) + 48           # Adjusted hypothesis
        
        patterns.append({
            'Input': input_value,
            'Output': output_value,
            'Second Char': output_value[1],
            'Third Char': output_value[2],
            'Second Char Calc': chr(second_char_pattern),
            'Third Char Calc': chr(third_char_pattern)
        })
    
    return pd.DataFrame(patterns)

# Analyze the detailed pattern
detailed_pattern_df = detailed_pattern_analysis(df)
detailed_pattern_df.head()

# Save the detailed pattern analysis to a CSV file
detailed_pattern_df.to_csv('detailed_pattern_analysis.csv', index=False)